.footer {
    box-shadow: 0 0 15px #ff0, 0 0 30px #ff0;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  bottom: 0;
}
